In [10]:
a=-22
print(a/7)
print(a//7)

-3.142857142857143
-4

In [3]:
class Stu:
#     a=input()
#     b=input()
    def __init__(self,c,d):
        self.c=c
        self.d=d
#         self.e=input()
    def name(self):
#         print("My name is-",self.c,"and age is",self.d,"This was my",self.b,self.e)
        print("My name is-",self.c,"and age is",self.d)
# t=Stu("anam",12)
t=Stu(input(),input())
t.name()
# Stu.b()
# print("i studied in-",Stu.b)

anam,anam
anam
My name is- anam,anam and age is anam

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=[]
for i in a:
    for j in b:

In [40]:
a=[1,2,3]
b=[4,5,6]
# result=map(lambda x,y:x+y,a,b)
# print(list(result))

# summ=a[0]+a[1]+a[2]
# add=b[0]+b[1]+b[2]

# lst=(summ,add)
# print(list(lst))
# ------------------------------------------------------
for i in a:
    for j in b:
        c=i+j
        print(list(str(c)),end="")

['5']['6']['7']['6']['7']['8']['7']['8']['9']

In [43]:
b="anam"
a="ashraf"
print(max(a))
print(min(a))

s
a

In [8]:
lst=[1,2,3]

def new(lst):
    for i in lst:
        print(i)
# new(lst[1,2,3,4,5])
new(lst)
new([12,13,14])

1
2
3
12
13
14

In [8]:
def new(lst):
    for i in lst:
        print(i)
        
l1=[1,2,3]
l2=[11,12,34]
l3="show"
l4=['tsxh',68,]
new(l1)
new(l2)
new(l3)

1
2
3
11
12
34
s
h
o
w

In [6]:
def new(lst):
    for i in lst:
        print(i)

new([11,12,14])
new([22,34,67])

11
12
14
22
34
67

In [12]:
a=4
b=a
# print(id(a))
del(a)
print(id(b))
print(id(a))

1702142476624

NameError: name 'a' is not defined