# Q1) Output of the following snippet
    x = 'abcd'
    for i in range(len(x):
    print(x)
    x = "a"

# Q2)Code Snippet
    i=0
    while i < 3:
        print(i)
        i+=1
    else:
       print(0)

In [12]:
lst =["appledfg999","pdvbaya999","grapes000","chickoo000"]
lst1 = []
for iter in lst:
    if int(iter[-3:]) == 999:
#         print(type(iter[-3:]))
        lst1.append(iter[:-3])
        
print(lst1)

['appledfg', 'pdvbaya']

In [13]:
a = 10
for i in range(5):
    a=a+5
    print(a)

15
20
25
30
35

In [14]:
lst = [[1,2,3], ["land", "sea", "sky"]]
for i in lst[0]:
    print(i, ": ", lst[1][i-1])

1 :  land
2 :  sea
3 :  sky

In [5]:
lst = [[1,2,3], ["land", "sea", "sky"]]
for i in lst[0]:
    print(i, ":", lst[1][i-1])

1 : land
2 : sea
3 : sky

Q) Factorial number