1) student={"name":"roy","age":20,"course":"python"}
  for value in student:
      print(value)

In [16]:
student={"name":"roy","age":20,"course":"python"}

# 1 - [output of this]
for value in student:
    print(value)
    
# 2 - [how to print values]
for value in student:
    print(student[value])

for key in student.values():   # prints values
    print(key)
    
for key in student.keys():     # print keys
    print(key)
    
for key,values in student.items():  #prints single key and single value
    print(key,value)

name
age
course
roy
20
python
roy
20
python
name
age
course
name course
age course
course course

2)  d={"foo":1,"bar":{'x':10,'y':20},"baz":3}
   'x' in d

In [18]:
d={"foo":1,"bar":{'x':10,'y':20},"baz":3} 
'x' in d
'y' in d['bar']

True

# 3) suppose you have a dictinary d1. Which of the following effectively creates a variable d2 which contains a copy of d1.
A) d2=d1
B) d2=dict(d1)
c) d2=dict(d1.keys())
d) d2=dict(d1.items())
e) d2=dict(d1.values())
f) d2={}
   d2.update(d1)

In [38]:
d1={"foo":1,"bar":{'x':10,'y':20},"baz":3} 
# d2=d1
# print(id(d1))
# print(id(d2))

# d2=dict(d1)
# print(id(d1))
# print(id(d2))

# d2=dict(d1.items())
# print(id(d1))
# print(id(d2))

# d2=dict(d1.keys())
# print(id(d1))
# print(id(d2))

# d2=dict(d1.values())
# print(id(d1))
# print(id(d2))

d2={}
d2.update(d1)
print(id(d1))
print(id(d2))

2234930677888
2234930555712

# 5) expression involving d that access the value 30
  d=['a','b',{'ack':1,'bar':{'p':10,'q':20,'r':30},'baz':3},'c','d']
  a) Can't access
  b) d[2]['bar']['r']
  c) d[2['bar'['r']]]
  d) d[2][1][6]

In [40]:
d=['a','b',{'ack':1,'bar':{'p':10,'q':20,'r':30},'baz':3},'c','d']

6) d1={}
   d2={1}
   if(type(d1)==type(d2)):
      print(True)
   else:
      print(False)

In [41]:
d1={}
d2={1}
if(type(d1)==type(d2)):
    print(True)
else:
    print(False)
    
# prints false becoz d1 is dic and in d2 we are passing value which takes it as set
# so set and dic are not same type, returns false

False

In [42]:
d={('c',3),('b',2),('a',1)}
print(type(d))

<class 'set'>