In [68]:
a=["a","b","c","d"]
for i in range(1):
    rem=a.pop()
    left=a
    lst=list(rem)
    value=lst+left
    print(value)

['d', 'a', 'b', 'c']

In [71]:
a=("abcdef")
key=1
e=""
for b in a:
    new=a.find(b)+1
    e+=a[new]
print(e)

IndexError: string index out of range

In [111]:
var="abcdef"

# for i in range(1):
print(list(var))
new=var[-1]+var[:-1]
val=new[-2:]+new[:-2]
print(list(new))
print(list(val))

['a', 'b', 'c', 'd', 'e', 'f']
['f', 'a', 'b', 'c', 'd', 'e']
['d', 'e', 'f', 'a', 'b', 'c']

In [101]:
a="abcd"
new=a[3]+a[:3]
# val=a[2:]+a[:2]
val=a[-2:]+a[:]

print(val)
# print(new)

cd

In [113]:
a=1+3j
for i in a:
    print(i)

TypeError: 'complex' object is not iterable

In [129]:
val=(input().lower())
alp="abcdefghijklmnopqrstuvwxyz"
key=3
encrpyt=""
decrypt=""
for i in val:
    a=(alp.find(i)+key)%26
    encrpyt+=alp[a]
print(encrpyt)

for j in encrpyt:
    b=(alp.find(i)-key)%26
    decrypt+=alp[b]
print(decrypt)

anam
dqdp
jjjj

In [125]:
a=(input().lower())
print(a)

Anam
anam

In [6]:
n=input()
if if n%2!==0 or (n%2==0 or n in range(6,21)):
        print("Weird")
    elif n%2!==0 and n in range()

anam

In [11]:
a=iter("kgf")

b=next(a)
c=next(a)
print((b))
print(c)

k
g

In [40]:
def multi(a):
    for i in range(1,11):
        c=a*i
        print(f"{a}*{i}=",c)
multi(5)
# multi(6)

5*1= 5
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45
5*10= 50

In [46]:
def mul(a):
    for i in range(1,10):
        yield a*i

m=mul(5)
print("The value",m)

The value <generator object mul at 0x0000020134357370>

In [45]:
import math
var=square(4)
print(var)

NameError: name 'square' is not defined

In [50]:
def square():
    i=1
    while True:
        yield i*i
        i+=1
var=square()
for i in var:
    if i>100:
        break
    print(i)
# var=square()
# print(type(var))

1
4
9
16
25
36
49
64
81
100

In [56]:
var={"Anam":20,"raza":34}
var["nabeel"]="25"
var.update({"height":2})
for i,j in var.items():
    print(i,j)

Anam 20
raza 34
nabeel 25
height 2

Use for loop to generate a list of numbers from 9 to 50 divisible by 2.

In [7]:
# for i in range(9,50,2):
#     print(i)

for i in range(9,50):
    if i/2==0:
        print(i)
    else:
        pass

In [8]:
name = "mariya mennen"
count = 0
for char in name:
    if char != 'm':
        continue
    else:
        count = count + 1

print('Total number of m is:', count)

Total number of m is: 2

In [9]:
print("Reverse numbers using for loop")
num = 5
# start = 5
# stop = -1
# step = -1
for num in (range(num, -1, -1)):
    print(num)

Reverse numbers using for loop
5
4
3
2
1
0

In [1]:
user=int(input("till-"))
# user1=int(input("table-"))

while user<3:
    print("Multiplication",user)
    user+=1
    count=1
    while count<11:
        print(count*i,end=" ")
        count+=1
    print("\n")

till-3