In [3]:
class Vehicle:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def new(self):
        print("hey you are-", self.name,"and this is applicable",self.age)
obj=Vehicle("Anam",546)
obj.new()

hey you are- Anam and this is applicable 546

In [12]:
for i in range(1,10):
    def Multiplication(a):
        return i*a
    multiplier=Multiplication(2)
    print("value-",multiplier)

value- 2
value- 4
value- 6
value- 8
value- 10
value- 12
value- 14
value- 16
value- 18

In [19]:
class Vehicle:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def new(self):
        print("hey you are-", self.name,"and this is applicable",self.age)
obj=Vehicle("Anam",546)
obj.new()

value=Vehicle("Maria",87)
value.new()

hey you are- Anam and this is applicable 546
hey you are- Maria and this is applicable 87

In [26]:
class Student:
    def __init__(my,roll,name):
        my.roll=roll
        my.name=name
    def show(self):
        print("Roll no-",self.roll,"is the name of ",self.name)
    
    def update(mine,roll,name):
        mine.roll=roll
        mine.name=name
        
newobj=Student(67,"Halima")
newobj.show()

newobj.update(90,"Taimoor")
newobj.show()

Roll no- 67 is the name of  Halima
Roll no- 90 is the name of  Taimoor

In [50]:
anu={"a",9,("k","9"),{}}
print(anu)
anu.add(10)
print(anu)
# print.update([9,7,98])
print.update{"key":87}
# anu.update({"key":"value"})
print(anu)

TypeError: unhashable type: 'dict'